{% extends "layout.html" %}
{% block body %}
    {% if session.logged_in %}
        <table class="table">
            <tr><th>Row#</th><th>Date</th><th>Tweet</th><th>Action</th>
        {% for cols in rows %}
          {% if cols|length < 3 or cols[2]|default("") == "" %}
            <tr>
                <td>{{ loop.index }}</td> 
            <td>{{cols[0]}}</td>
            <td>{{cols[1]}}</td>
            <td>
                <a class="btn btn-default" href="approve?row={{loop.index}}">Approve</a>
                <a class="btn btn-default" href="ignore?row={{loop.index}}">Decline</a>
            </td> 
            </tr>
          {% endif %}
            {% else %}
            <tr><td>Nothing</td></tr>
        {% endfor %}
        </table>
    {% endif %}
{% endblock %}

